@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Poppins', sans-serif !important;
}

.menu-header {
    width: fit-content;
    display: flex;
}

a {
    text-decoration: none;

}

.lang {
    width: 50px !important;
    max-width: 50px !important;
    min-width: 10px !important;

}

.lang li:hover {
    cursor: pointer;
}

.section-head h2 {
    color: #031888 !important;
}

.section-head h2 span {
    color: #031888 !important;
}

.about-ul li {
    color: #2c65af !important;
    font-size: 1rem !important;
}

.height-auto {
    height: auto !important;

}

.color-default-title {
    color: #031888 !important;
}

.about-ul li:hover {
    cursor: pointer;
    filter: brightness(1.4);
}

.color-blue {
    color: #6096fd !important;
}

.pt-20 {
    padding-top: 20px;

}

.paralax {
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    height: 300px;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-position: 50% 50%;

    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    background-color: #031888;

}

.menu-responsivo {
    display: none;

}

.ajust {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.nav-item-responsive {
    display: flex;
    padding: 10px 30px;
    border: 1px solid #c9c9c98a;
    border-left: none;
    border-right: none;
    border-top: none;

    justify-content: space-between;
    flex-direction: column;
}

.top-responsive {
    display: flex;
    height: 35px;

}

.lang-responsive {
    background-color: #031888;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-left: 20px;
}

.lang-responsive button {
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 90%;
    max-height: 90%;
}

.lang-responsive ul {
    position: absolute;
    background-color: #ffffff;
    top: 36px;
    left: 20px;
    border-radius: 10px;
    padding: 0 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.377);
}

.lang-responsive li {
    font-weight: 600;
    width: 80px;
    border-bottom: 1px solid #c9c9c98a;
}



.a-responsive {
    color: white !important;

}

.responsive-title {
    font-size: 18px !important;
    font-weight: 700 !important;
}

.submenu-responsive {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-left: 50px !important;
}

.submenu-responsive li {
    border: 1px solid #c9c9c98a;
    border-left: none;
    border-right: none;
    border-top: none;
}

.menu-responsivo ul {
    max-height: 400px !important;
    overflow-y: scroll;
    width: 100%;
}

.menu-header li {
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
}




.next-slide-right {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    padding: 0;
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: rgba(0, 0, 0, 0.418);
    border-radius: 50%;
    left: 40px !important;
    z-index: 10000 !important;
}

.next-slide-right:hover {
    background: #0524d4;
}

.next-slide-left {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    padding: 0;
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: rgba(0, 0, 0, 0.418);
    border-radius: 50%;
    right: 40px !important;
    z-index: 10000 !important;
}

.next-slide-left:hover {
    background: #0524d4;
}

.testimonial-section .slick-prev:before,
.testimonial-section .slick-next:before {
    height: 25px;
    width: 16px;
    left: -130px;
    top: -44px;
    position: absolute;
    color: #031888;
    font-family: "foundation-icons";
    content: "<";
    font-family: "Material-Design-Iconic-Font";
    font-size: 33px !important;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    opacity: 1;
    background: rgba(255, 255, 255, 0.35);
    width: 45px;
    height: 45px;
    border-radius: 45px;
    line-height: 45px;
    font-family: inherit;
}

.testimonial-section .slick-next:before {
    right: -130px;
    left: inherit;
    content: '>';
}

.testimonial-section .slick-slider {
    z-index: 9;
}

.testimonial-section .testimonial-area:hover .slick-prev:before,
.testimonial-section .testimonial-area:hover .slick-next:before {
    opacity: 1;
}

.testimonial-bg {

    background-position: center center;
    background-size: cover;
    width: 100%;
    height: auto;
    position: relative;
    z-index: 0;
}

.testimonial-bg::before {
    position: absolute;
    content: '';
    background: #031888;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: .8;
    z-index: -1;
}

.slick-dots {
    bottom: 10px !important;
    background-color: transparent !important;
}



.slick-dots li.slick-active {
    border-radius: 50%;
    border-style: solid;
    border-width: 1px !important;
    border-color: white !important;
}

.slick-dots li button:before {
    font-size: 20px !important;
    color: white !important;
    display: flex;
    margin: 0 auto;
    top: 4px !important;
    left: 4px !important;
}

.slick-dots li {
    background-color: transparent !important;
    width: 30px !important;
    height: 30px !important;

}

.image-carrousel {
    position: relative;
}

.image-carrousel img {
    position: absolute;
    opacity: 0.4;
    width: 100%;
    height: 800px !important;
    object-fit: fill;
}

.home-text {
    height: 800px !important;
    padding: 30px 120px 43px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    z-index: 1;
    position: relative;
}


.home-text h1 {
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 40px;
    text-transform: capitalize;
    color: #ffffff;
}

.home-text p {
    color: #ffffff;
    margin-bottom: 50px;
    font-size: 22px;
}

.home-text .active-btn {
    background: #6096fd;
    border: 1px solid transparent;
}

.home-text .active-btn::before {
    background: transparent;
}

.home-text .active-btn:hover {
    background: transparent;
    border: 1px solid #ffffff;
}

.slider-carrousel {
    height: 800px !important;
    background: linear-gradient(90deg, rgba(3, 24, 136, 1) 30%, rgba(0, 0, 0, 0) 100%);


}

.responsive-menu {
    display: none;
}

@media (max-width: 1400px) {
    .image-carrousel img {
        height: 500px !important;
    }

    .home-text {
        height: 500px !important;
        width: 900px;
        justify-content: center;
    }

    .home-text p {

        font-size: 18px;
    }

    .home-text h1 {
        font-size: 50px;

    }

    .slider-carrousel {
        height: 500px !important;

    }

}

@media (max-width: 990px) {
    .why-choose-text {
        margin-top: 20px;
    }

    .image-carrousel img {
        height: 450px !important;
    }

    .home-text {
        height: 450px !important;
        width: 780px;
    }

    .slider-carrousel {
        height: 450px !important;

    }

    .home-text h1 {
        font-size: 44px;

    }

    .home-text p {

        font-size: 16px;
    }
}

@media (max-width: 670px) {
    .theme-button .default-btn {
        font-size: 14px !important;
        padding: 10px 25px !important;

    }

    .contact-section .contact-area {
        padding: 55px 15px !important;
    }

    .contact-section .contact-area h2 {
        margin-top: 15px !important;
    }

    .image-carrousel img {
        height: 400px !important;
    }

    .home-text {
        height: 400px !important;
        width: 650px;
    }

    .slider-carrousel {
        height: 400px !important;

    }

    .home-text h1 {
        font-size: 32px;

    }

    .home-text p {
        font-size: 14px;
        margin-bottom: 30px;
    }
}

@media (max-width: 560px) {
    .slick-prev {
        left: 10px !important;

    }

    .slick-next {
        right: 15px !important;
    }

    .theme-button .default-btn {
        font-size: 10px !important;
        padding: 8px 20px !important;

    }

    .image-carrousel img {
        height: 300px !important;
    }

    .home-text {
        height: 300px !important;
        width: 400px;
        padding: 20px 70px 45px;
    }

    .slider-carrousel {
        height: 300px !important;
    }

    .home-text h1 {
        font-size: 21px;
        margin-bottom: 8px !important;

    }

    .home-text p {
        font-size: 10px;
        margin-bottom: 10px;
    }

    .slick-dots li button:before {
        font-size: 14px !important;
        color: white !important;
        display: flex;
        margin: 0 auto;
        top: 0px !important;
        left: 2px !important;
    }

    .slick-dots li {
        background-color: transparent !important;
        width: 20px !important;
        height: 20px !important;
    }
}

@media (max-width: 500px) {
    .why-choose-img img {
        max-height: 350px !important;
    }

    .next-slide-left {
        width: 30px !important;
        height: 30px !important;

    }

    .next-slide-right {
        width: 30px !important;
        height: 30px !important;
    }
}

@media (max-width: 768px) {
    .normal-menu {
        display: none;
    }

    .process-section .process-card {

        height: 370px;
    }

    .process-section img {
        display: none !important;
    }

    .responsive-menu {
        display: block;
        max-width: 100vw;
    }

    .box-responsivo {
        max-width: 100vw;
        width: 100%;
        padding: 0 20px;
    }

    .sticky {
        max-width: 100vw !important;
    }

    .menu-responsivo {

        display: block;
        width: 100%;
    }

    .next-slide-left {
        right: 5px !important;

    }

    .next-slide-right {
        left: 5px !important;
    }
}